[Unit]
Description=Wait for DNS entries
Wants=systemd-resolved.service
Before=kubelet.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'while ! /usr/bin/grep '^[^#[:space:]]' /etc/resolv.conf > /dev/null; do sleep 1; done'

[Install]
RequiredBy=kubelet.service
