global:
  k8sIngressSelector: ingressgateway
  mtls:
    enabled: true
  proxy:
    accessLogFile: "/dev/stdout"
  outboundTrafficPolicy:
    mode: REGISTRY_ONLY

istio-cni:
  tag: release-1.1-20190808-09-16
  excludeNamespaces:
  - istio-system
  - kube-system
  - gsp-system
istio-init:
  certmanager:
    enabled: false

# https://github.com/helm/helm/issues/5135
# affects anything with a conditional in the istio chart's
# requirements.yaml.
# presented here exhaustively in the same order as they appear in
# the istio chart's requirements.yaml at the time of writing
sidecarInjectorWebhook:
  enabled: true
security:
  enabled: true
gateways:
  enabled: true
mixer:
  policy:
    enabled: true
  telemetry:
    enabled: true
nodeagent:
  enabled: false
pilot:
  enabled: true
grafana:
  enabled: false
prometheus:
  enabled: false
tracing:
  enabled: true
galley:
  enabled: true
kiali:
  enabled: true
istiocoredns:
  enabled: false
certmanager:
  enabled: true

# normal service can now resume
istio:
  ingress:
    enable: false
  certmanager:
    enabled: true
  istio_cni:
    enabled: true
  tracing:
    enabled: true
  pilot:
    traceSampling: "100.0"
  prometheus:
    enabled: false
  gateways:
    istio-ingressgateway:
      type: NodePort
      sds:
        enabled: true
    istio-egressgateway:
      enabled: true
      ports:
      - port: 80
        name: http2
      - port: 443
        name: https
        # This is the port where sni routing happens
      - port: 15443
        targetPort: 15443
        name: tls
      - port: 2223
        name: tcp-cloudhsm-2223
      - port: 2224
        name: tcp-cloudhsm-2224
      - port: 2225
        name: tcp-cloudhsm-2225
  sidecarInjectorWebhook:
    enableNamespacesByDefault: true
    rewriteAppHTTPProbe: true
  kiali:
    enabled: true
    createDemoSecret: true # FIXME: probably not a good idea for prod!
    prometheusAddr: http://gsp-prometheus-operator-prometheus.gsp-system:9090
